$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$special-font: 'Atlanta', Arial, Helvetica;
$special-font-bold: 'Atlanta Bold', Arial, Helvetica;
$main-font: Arial, Helvetica, sans-serif;

$accent-color: #181a38;
$text-dark: #111111;
$text-light: #444444;
$c-white: #ffffff;
