.book{
  font-size: 12px;
  position: relative;
}
.book__link{
  border-radius: 20px;
  background-color: #0f698f;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;

  &:hover,
  &:active{
    background-color: #0f6977;
  }
}

.books__item{
  list-style-type: none;
  background-color: #fff;
  box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12);
  width: 200px;
  margin: 0 20px 20px 0;
  padding: 20px;
  border-radius: 20px;
}

.book__move_icon{
  position: absolute;
  top: -27px;
  right: -15px;
}
.book__favourite_icon{
  position: absolute;
  width: 30px;
  height: 30px;
  top: -25px;
  right: 15px;
  cursor: pointer;
  border: 0 none;
  background: transparent none;

  &:active{
    border-radius: 15px;
    background-color: #aaaaaa;
  }
}
