@font-face {
  font-family: 'P22UndergroundCYPro Book';
  src: url("../fonts/P22UndergroundCYPro-Book.eot");
  src: url("../fonts/P22UndergroundCYPro-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/P22UndergroundCYPro-Book.woff2") format("woff2"), url("../fonts/P22UndergroundCYPro-Book.woff") format("woff"), url("../fonts/P22UndergroundCYPro-Book.ttf") format("truetype"), url("../fonts/P22UndergroundCYPro-Book.svg#P22UndergroundCYPro-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'P22UndergroundCYPro Demi';
  src: url("../fonts/P22UndergroundCYPro-Demi.eot");
  src: url("../fonts/P22UndergroundCYPro-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/P22UndergroundCYPro-Demi.woff2") format("woff2"), url("../fonts/P22UndergroundCYPro-Demi.woff") format("woff"), url("../fonts/P22UndergroundCYPro-Demi.ttf") format("truetype"), url("../fonts/P22UndergroundCYPro-Demi.svg#P22UndergroundCYPro-Demi") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'P22UndergroundCYPro Heavy';
  src: url("../fonts/P22UndergroundCYPro-Heavy.eot");
  src: url("../fonts/P22UndergroundCYPro-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/P22UndergroundCYPro-Heavy.woff2") format("woff2"), url("../fonts/P22UndergroundCYPro-Heavy.woff") format("woff"), url("../fonts/P22UndergroundCYPro-Heavy.ttf") format("truetype"), url("../fonts/P22UndergroundCYPro-Heavy.svg#P22UndergroundCYPro-Heavy") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'P22UndergroundCYPro Thin';
  src: url("../fonts/P22UndergroundCYPro-Thin.eot");
  src: url("../fonts/P22UndergroundCYPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/P22UndergroundCYPro-Thin.woff2") format("woff2"), url("../fonts/P22UndergroundCYPro-Thin.woff") format("woff"), url("../fonts/P22UndergroundCYPro-Thin.ttf") format("truetype"), url("../fonts/P22UndergroundCYPro-Thin.svg#P22UndergroundCYPro-Thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'P22UndergroundCYPro Medium';
  src: url("../fonts/P22UndergroundCYPro-Medium.eot");
  src: url("../fonts/P22UndergroundCYPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/P22UndergroundCYPro-Medium.woff2") format("woff2"), url("../fonts/P22UndergroundCYPro-Medium.woff") format("woff"), url("../fonts/P22UndergroundCYPro-Medium.ttf") format("truetype"), url("../fonts/P22UndergroundCYPro-Medium.svg#P22UndergroundCYPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}

body {
  font-size: 16px;
}

.main {
  background: transparent url("../img/main-bg.jpg") left top no-repeat;
  color: #fff;
  background-size: cover;
}
.main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0;
}
.main header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  text-decoration: none;
}
.main header .logo img {
  width: auto;
  height: 5rem;
}
.main header .logo p {
  font-size: 0.75em;
  font-family: 'P22UndergroundCYPro Thin', sans-serif;
  padding: 1rem 0 0 1.5rem;
}
.main header .logo p span {
  font-size: 1.8rem;
  font-family: 'P22UndergroundCYPro Heavy', sans-serif;
}
.main header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main header .contact .call {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1.5rem;
  font-size: 0.938em;
  font-family: 'P22UndergroundCYPro Book', sans-serif;
  text-decoration: none;
  color: #fff;
}
.main header .contact .phone {
  display: inline-block;
  font-size: 1.563em;
  text-transform: uppercase;
  font-family: 'P22UndergroundCYPro Heavy', sans-serif;
  padding: 1rem 0 0 4rem;
}
.main h1 {
  color: #ffff33;
  font-family: 'P22UndergroundCYPro Heavy', sans-serif;
  font-size: 2.467em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 6rem 0;
}
.main .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main-content ul {
  list-style-type: none;
}
.main .main-content ul li {
  background: transparent url("../img/arrowgt.png") left center no-repeat;
  padding: 0.5rem 0 0.5rem 2rem;
  font-family: 'P22UndergroundCYPro Book', sans-serif;
  font-size: 1.250em;
}
.main .main-content .consult-form {
  background-color: #fff;
  padding: 5rem;
  width: 42rem;
  border-radius: 5px;
  margin: 0 0 5rem 0;
  position: relative;
}
.main .main-content .consult-form h3 {
  color: #333;
  font-family: 'P22UndergroundCYPro Book', sans-serif;
  font-size: 1.467em;
  text-align: center;
  margin: 0 0 3.5rem;
}
.main .main-content .consult-form .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0 0;
}
.main .main-content .consult-form .form-input .icon {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: inline-block;
  width: 6rem;
  height: 6rem;
}
.main .main-content .consult-form .form-input .icon-user {
  background: #333 url("../img/name.png") center center no-repeat;
}
.main .main-content .consult-form .form-input .icon-phone {
  background: #333 url("../img/phone.png") center center no-repeat;
}
.main .main-content .consult-form .form-input input {
  display: inline-block;
  border: 1px solid #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 0 0 1em;
  font-size: 0.938em;
  font-family: 'P22UndergroundCYPro Book', sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main .main-content .consult-form .form-input input:focus {
  color: #999;
  border-color: #999;
}
.main .main-content .consult-form .form-input input.button {
  border-radius: 5px;
  background-color: #ffff33;
  border: 0 none;
  border-bottom: 4px solid #999900;
  height: 6rem;
}
.main .main-content .consult-form .money {
  position: absolute;
  bottom: -8.5rem;
  left: -20.5rem;
}

.benefits {
  margin: 10rem 0;
}
.benefits .row {
  margin: 7.5rem 0 0;
}
.benefits .row .col .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits .row .col .icon-wrap .icon {
  background-color: #ffff33;
  border-radius: 8rem;
  width: 8rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits .row .col span {
  margin: 2.5rem 0 0;
  font-size: 1.125em;
  display: inline-block;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'P22UndergroundCYPro Book', sans-serif;
}

@media (max-width: 575px) {
  body {
    font-size: 12px;
  }

  .main header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main header .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main header .contact .call {
    margin: 2rem 0;
    width: 90vw;
    text-align: center;
    font-size: 1.3em;
  }
  .main header .contact .phone {
    padding: 0;
    width: 90vw;
    text-align: center;
  }
  .main header .logo p {
    font-size: 0.98em;
  }
  .main .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main-content .money {
    display: none;
  }
  .main .main-content .consult-form {
    width: 95vw;
    padding: 2rem;
  }

  .benefits {
    margin: 3rem 0;
  }
  .benefits .row {
    margin: 0;
  }
  .benefits .row .col {
    margin: 3rem 0 0;
  }
  .benefits .row .col.col-hide {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */