@import "./../../../scss/variables";
@import "./../../../scss/blocks/general";

.form_fields{
    list-style: none;
    padding: 0;
}
.form_field{
    margin: 0 0 10px;
    display: flex;
    flex-direction: column;
}
.field_label{
    padding: 5px 0;
}
.field_input{
    width: 100%;
    min-width: 200px;
    padding: 5px 0;
    border: 1px solid #cccccc;
}
.form_field__checkbox{
    margin: 0 10px 10px 0;
    display: flex;
    .field_label{
        padding: 0;
    }
}
.form_error{
    border: 1px solid firebrick;
    padding: 10px;
    color: firebrick;
    font-size: 12px;
    margin: 10px 0;
}

.search_results{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    list-style-type: none;

    li{
        padding: 0;
        list-style-type: none;

        a{
            padding: 10px 0 10px 10px;
            border-bottom: 1px solid #cccccc;
            color: $accent-color;
            display: inline-block;
            box-sizing: border-box;
            width: 100%;

            &:hover{
                background-color: $accent-color;
                color: $c-white;
            }
        }
    }
}
