body {
  font-family: "Lato", sans-serif;
}

#menu {
  margin-bottom: 20px;
}
#menu button {
  margin: 10px;
}

.bar_group .name_label {
  text-anchor: end;
  font-weight: 300;
  font-size: 0.7em;
  fill: #333;
}

.bar_group .value_label {
  text-anchor: end;
  fill: #fff;
  font-weight: 400;
  font-size: 0.7em;
}

.bar_group rect {
  /* Hmmm... this conflicts with react-move's leave fade! */
  /* transition: opacity 0.3s; */
}

.bar_group:hover rect {
  opacity: 0.5 !important;
}

.bar_group:hover .name_label {
  font-weight: 400;
}
