
@import "./_visually-hidden";

.form_fields{
  list-style: none;
  padding: 0;
}
.form_field{
  margin: 0 0 10px;
  display: flex;
  flex-direction: column;

}
.field_select,
.form_field select {
  padding: 10px 0 10px 5px;
  font-size: 12px;
  border: 1px solid #cccccc;
}
.field_label{
  padding: 5px 0;
  font-size: 12px;
}
.author_search .field_input{
  background-color: #cfe1e3;
}
.field_input{
  width: 100%;
  min-width: 200px;
  padding: 10px 0 10px 5px;
  border: 1px solid #cccccc;
  font-size: 12px;
}
.field_textarea{
  height: 150px;
}
.field_checkbox{
  margin: 10px 10px 0 0;
  display: flex;
  .field_label{
      padding: 0 0 0 10px;
  }
}
.form_buttons{
  margin: 20px 0;

  button{
      padding: 10px 20px;
      background-color: $accent-color;
      border: 0 none;
      color: $c-white;
      font-size: 14px;
  }  
}
.form_errors{
  border: 1px solid firebrick;
  padding: 10px 10px 10px 25px;

  p {
      color: firebrick;
      font-size: 12px;
      font-weight: bold;
  }
  ul{
      padding-left: 25px;
  }
}
.form_errors__error{
  color: firebrick;
  font-size: 12px;
  margin: 10px 0;
}
.message{
  border: 1px solid seagreen;
  padding: 10px;
  color: seagreen;
  font-size: 12px;
  margin: 10px 0;
}

@media (min-width: $tablet-width) {
 
}

@media (min-width: $desktop-width){
  
}
